
<div style="padding: 24px 0;">
    <div>
        {{ product.metafields.custom.seo_text }}
    </div>
</div>


{% schema %}
{
"name": "Seo text",
"tag": "section",
"class": "t4s-section spr-container",
"settings": []
}
{% endschema %}